@import "../../assets/css/01-settings/variables";
@import "../../assets/css/01-settings/mixins";

.start-screen {
    @include absolute-center;
    .heading {
        margin-bottom: .7em;
        font-size: 30px;
        color: $green;
        text-shadow: 1px 1px 2px rgba(#000, .4);
        white-space: nowrap;
    }
    .btn {
        width: 90%;
        margin: 0 auto 10px;
    }

    @media (min-width: $breakpoint-small) {
        .heading { font-size: 40px; }
    }

    @media (min-width: $breakpoint-mobile) {
        .heading { font-size: 50px; }
    }

    @media (min-width: $breakpoint-tablet) {
        .heading { font-size: 60px; }
    }
}