.btn {
    display: block;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: none;
    font-family: 'Lobster Two', cursive;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(#000, .4);
    color: #333;
    background-color: $light-green;
    cursor: pointer;
    transition: background-color .1s;
    &:hover { background-color: darken($light-green, 10%); }
}
