.c-loader {
    display: none;
    &:not(.inline-loader) {
        @include fixed-center;
        z-index: map-get($z-indexes, loader);
    }
    .spinner {
        width: 50px;
        height: 50px;
        animation: spinner-rotate 2s linear infinite;
    }
    .spinner-path {
        stroke-linecap: round;
        animation: spinner-dash 1.5s ease-in-out infinite;
        stroke: $light-green;
    }
}

@keyframes spinner-rotate {
    100% { transform: rotate(360deg); }
}

@keyframes spinner-dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}