// Helper classes
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clear { clear: both; }
.hide-element { display: none; }

// Truncate text with ...
.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wide-proportion-wrapper {
	position: relative;
	padding-top: 56.25%;
	width: 100%;
	height: 0;
	overflow: hidden;
}
.bg-wide-proportion-wrapper {
	@extend .wide-proportion-wrapper;
	background-position: center;
	background-size: cover;
}