// Colors
$green: #cad11f;
$dark-green: #0d3823;
$light-green: #ccfbcc;
$red: #ea0101;

// Z indexes
$z-indexes: (
	loader: 9999
);

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-wide: 1920px;
