@import "../../assets//css/01-settings/mixins";

.game {
    @include flex-center;
    height: 100%;

    @media (orientation: landscape) {
        align-items: flex-start;
        .table { padding-bottom: 10px; }
    }
}