.card {
    width: 8vw;
    height: calc(8vw * 314 / 226);
    max-width: 100px;
    max-height: calc(100px * 314 / 226);
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(#000, .4);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
