@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

*,
*::before,
*::after { box-sizing: border-box; }
html, body { height: 100%; }
body {
    min-width: 320px;
    padding: 10px;
    font-family: 'Lobster Two', cursive;
    font-size: 16px;
    text-align: left;
    color: #fff;
    background-color: $dark-green;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 { margin-bottom: 0.5em; }
a, span, button {
    &, &:hover, &:focus, &:active { text-decoration: none; outline: none; }
}
button::-moz-focus-inner { border: 0; }
img { max-width: 100%; }
input[type="radio"] { -webkit-appearance: radio; }
.btn:active, .btn.active, .btn:focus, .btn.focus,
.btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
	outline: none;
	box-shadow: none;
}
