@import "../../assets//css/01-settings/variables";
@import "../../assets//css/01-settings/mixins";

.table {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    .center { @include flex-center; }
    .draw-btn { width: 200px; }
    &.players-2 {
        .player-1 { order: -1; }
        .player-2 { align-items: flex-end; }
    }
    &.players-3 {
        grid-template-rows: repeat(4, 1fr);
        .player-3 { align-items: flex-end; }
    }
    &.players-4 {
        grid-template-rows: repeat(5, 1fr);
        .player-3, .player-4 { align-items: flex-end; }
    }
    &.players-3, &.players-4 {
        .player-1 { order: -2; }
        .player-2 { order: -1; }
    }

    @media (min-width: $breakpoint-tablet) {
        &.players-3 {
            grid-template: repeat(3, 1fr) / repeat(2, 1fr);
            .player-1, .player-3 { grid-column-start: span 2; }
            .player-2 {
                justify-content: flex-start;
                align-items: center;
            }
        }
        &.players-4 {
            grid-template: repeat(3, 1fr) / repeat(3, 1fr);
            .player-1, .player-4 { grid-column-start: span 3; }
            .player-2, .player-3 {
                justify-content: flex-start;
                align-items: center;
                .card + .card { margin-left: -6vw; }
            }
            .player-3 { justify-content: flex-end; }
        }
    }

    @media (min-width: $breakpoint-tablet) {
        &.players-4 {
            .player-2, .player-3 {
                .card + .card { margin-left: -70px; }
            }
            .player-3 { justify-content: flex-end; }
        }
    }

    @media (min-width: $breakpoint-desktop) {
        &.players-3 {
            .player-1, .player-2 {
                .card + .card { margin-left: -40px; }
            }
        }
        &.players-4 {
            .player-1 {
                .card + .card { margin-left: -40px; }
            }
        }
    }

    @media (min-width: $breakpoint-desktop-wide) {
        &.players-4 {
            .player-2, .player-3 {
                .card + .card { margin-left: -50px; }
            }
        }
    }
}