@import "../../assets//css/01-settings/variables";

.player {
    display: flex;
    justify-content: center;
    .player-name {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .score { margin-bottom: 8px; }
    .cards { display: flex; }
    &.player-ai .card + .card { margin-left: -4vw; }
    &.player-human {
        color: $green;
        .card {
            cursor: pointer;
            + .card { margin-left: 5px; }
        }
        .card:hover {
            transform: scale(1.1);
            z-index: 2;
        }
    }
}