@import "../../../assets/css/01-settings/variables";
@import "../../../assets/css/01-settings/mixins";

.table-center {
  @include flex-center;
  .played-card {
    flex-grow: 0;
    flex-shrink: 0;
    + .played-card { margin-left: 5px; }
    .card { margin: 0 auto; }
  }
  .player-human { color: $green; }
  .winner { color: $red; }
  .player-name {
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center;
  }
  .card {
    pointer-events: none;
    cursor: pointer;
  }
  .winner-name {
    flex-basis: 100%;
    margin-bottom: 10px;
    font-size: 32px;
    text-align: center;
  }
}

.players-2 .played-card {  flex-basis: 50%; }
.players-3 .played-card {  flex-basis: 33.3333%; }
.players-4 .played-card {  flex-basis: 25%; }